body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", "sans-serif";
  padding-bottom: 30px;
}

table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; 
    margin: auto;
}

td {
	padding: 10px;
	margin-top: 10px;
}

td:first-child {
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
}

td:last-child {
    border-bottom-right-radius: 30px; 
    border-top-right-radius: 30px; 
}

.list-item-white {
  width: 600px;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
}

.list-item-lilac {
  width: 600px;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e5dae2;
  /*DFC3E2*/
  border-radius: 30px;
}

.user-icon {
  width: 20px;
  height: 20px;
}

.user-greeting {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #000;
}	

.center {
  margin: auto;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 19px;
}

.home-logo {
  width: 200px;
  object-fit: contain;
  border-radius: 19px;
  margin-bottom: 30px;
}

.link-button:link, .link-button:visited {
  color: #000;
  width: 100px;
  border-radius: 20px;
  background-color: #e3ffe5;
  /*E5F7D4*/
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link-button-margin {
	margin-right: 50px;
}

.logout:link, .logout:visited {
	color: #ac5454;
}

.footer {
	margin-top: 30px;
}

.form-input, .form-input:focus { 
  width: 300px;
  height: 30px;
  border-radius: 26px;
  background-color: #fff;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.save-button {
  width: 320px;
  height: 34px;
  border-radius: 26px;
  background-color: #d1cbcf;
  border-width: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.form-label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 10px;
}

.form-line {
	display: inline-block;
}

.cursor-pointer {
	cursor: pointer;
}

.link-delete {
  font-family: SegoeUI;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #ae4242;
}

.login-section {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  margin-top: 80px;
}

.form-input-login {
  width: 300px;
  height: 30px;
  border-radius: 26px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.30);
  border: solid 1px rgba(112, 112, 112, 0.20);
  background-color: #000;
  padding-left: 32px;
  padding-right: 10px;
  outline: none;
}

.user-login-icon {
  background: url(/img/icon_user.png) no-repeat scroll 4px 4px;
  background-size: 24px 24px;
}

.password-login-icon {
  background: url(/img/icon_password.png) no-repeat scroll 6px 6px;
  background-size: 20px 20px;
}

.login-button {
  width: 345px;
  height: 34px;
  border-radius: 26px;
  background-color: #d1cbcf;
  border-width: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: #ae4242;
}

.icon-small {
	width: 18px;
	height: 18px;
	padding: 5px;
	border-radius: 40px;
	background-color: #fff;
}

.background-white-gray {
	background-color: #f2f2f2;
}

tr.row-line td {
	border-bottom: 1px solid black;
	border-radius: 0px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  border-radius: 20px;
  background-color: #e0c3e9;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.modal-button:link, .modal-button:visited {
  width: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.yes-label {
  font-weight: bold;
  color: #b33f3f;
}

.no-label {
  font-weight: bold;
  color: black;
}